.piwik_counter
{
	width: 150px;
}

div.piwik_counter
{
	color:red;
}

div.piwik_counter div
{
/display: inline;
}

div.piwik_counter span
{
	margin-left:5pt;
	float:right;
}
.piwikiframe
{
	width: 99%;
	height:200px;
}
